<div class="d_footer">
    <!-- <div class="insta">
        <p class="heading rajdhani400">
            FOLLOW ME ON INSTAGRAM
        </p>
        <p class="insta_id n-text lspace">@VowsOnClouds_PHOTOGRAPHY</p>
    </div> -->
    <div class="soc_media">
        <a href="https://www.instagram.com/VowsOnClouds_photography/"><i class="bi bi-instagram"></i></a>
        <a href="https://www.facebook.com"><i class="bi bi-facebook"></i></a>
    </div>
     <div class="btm_nav">
        <ul>
            <li class="rajdhani400"><a routerLink="">HOME</a></li>
            <!-- <li class="rajdhani400"><a routerLink="../about">ABOUT</a></li> -->
            <li class="rajdhani400"><a routerLink="../pictures">PICS</a></li>
            <li class="rajdhani400"><a routerLink="../contact">CONTACT</a></li>
        </ul>
     </div>

     <p class="copyright rajdhani500">All Content Copyright © 2023 VowsOnClouds Photography </p>
</div>
