*{
    padding: 0;
    margin: 0;
}

.video-box{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 90vh;
}
.video-box video{
    margin: 0px;
    padding: 0;
    width: 100%;
    height: auto;
}

