*{
    padding: 0;
    margin: 0;
}

.video-box{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
}
.video-box video{
    margin: 0px;
    padding: 0;
    width: 100%;
    height: auto;
}

@media only screen and (min-width:200px) and (max-width:600px){
    .video-box{
        display: flex;
        flex-direction:column-reverse;
        position:static;
        height: auto;
    }
  
  }