*{
    padding: 0;
    border: 0;
    margin:0;
    background-color: #FFF5E1;
}

.my_work{
    width: 100%;
    height: auto;
    text-align: center;
    padding: 25px 0px;
}

.my_work .container_b{
    width: 100%;
    padding: 25px 0px;
    display: flex;
    justify-content:center;
}

.my_work .container_b .img{
    margin: 0px 2px;
    width: 28%;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: rgb(0, 0,0,0.5);
    height: 600px;
}

.my_work .container_b .img img{
    height: 600px;
    width: 100%;
    object-fit:cover;
}

.my_work .container_b .img p{
    width: 100%;
    padding: 15px 0;
    color: white;
    background-color: rgb(0, 0,0,0.3);
    position: absolute;
    bottom: 25px;
    z-index: 1;
    font-size: 55px;
}

.adv{
    width: 100%;
    height: auto;
    padding: 25px 10px;
}

.adv .disc {
    width: 70%;
    margin: auto;
}

@media only screen and (min-width:200px) and (max-width: 600px) {
    .my_work{
        width: 100%;
        height: auto;
        text-align: center;
        padding: 25px 0px;
    }
    
    .my_work .container_b{
        width: 100%;
        padding: 25px 5px;
        flex-direction: column;
        justify-content:center;
    }
    
    .my_work .container_b .img{
        margin: 2px 0px;
        width: 100%;
        height: 270px;
        flex-direction: column;
    }
    
    .my_work .container_b .img img{
        height: 270px;
    }
    
    .my_work .container_b .img p{
        width: 100%;
        padding: 15px 0;
        color: white;
        background-color: transparent;
        position: absolute;
        bottom: 15px;
        z-index: 1;
        font-size: 35px;
    }
    
    .adv{
        width: 100%;
        height: auto;
        padding: 10px 10px;
    }
    
    .adv .disc {
        width: 95%;
        margin: auto;
    }
}

@media only screen and (min-width:600px) and (max-width: 1200px) {
    .my_work{
        width: 100%;
        height: auto;
        text-align: center;
        padding: 15px 0px;
    }

    .my_work .container_b{
        width: 100%;
        padding: 25px 5px;
        justify-content:center;
    }

    .adv .disc {
        width: 90%;
        margin: auto;
        font-size: 14px;
    }
    .my_work .container_b .img img{
        height: 450px;
    }

    .my_work .container_b .img{
        margin: 2px 0px;
        width: 100%;
        height: 450px;
        flex-direction: column;
    }

    .my_work .container_b .img p{
        width: 100%;
        padding: 15px 0;
        color: white;
        background-color: rgb(0, 0,0,0.3);
        position: absolute;
        bottom: 15px;
        z-index: 1;
        font-size: 35px;
    }
}