<div class="adv">
    <div class="disc">
        <p class="n-text nm-text"><br>
            Envision your perfect day, every glance, every smile, and every heartfelt moment, beautifully captured
            in timeless photographs. At <i>VowsOnClouds Photography</i>, we understand the significance of your
            wedding day, and our passion lies in creating visual stories that narrate the essence of your love. With
            a blend of artistry, technical expertise, and a keen eye for detail, we craft images that vividly
            portray the emotions, the romance, and the unique connection you share. Our commitment is to not just
            take photos, but to curate a collection that transports you back to those cherished moments, evoking the
            same emotions every time you revisit them. Trust us to capture the magic of your day, preserving it in
            photographs that will become heirlooms for generations to come.</p>
    </div>
</div>

<div class="my_work">
    <p class="heading2">
        OUR SERVICES </p>
    <div class="container_b">
        <div class="img">
            <a routerLink="gallery">
                <img src="../../assets/images/PRE_WEDD/image_123.jpg" alt="Wedding Album">
                <p class="heading2">PRE-WEDDING</p>
            </a>

        </div>

        <div class="img">
            <a routerLink="gallery">
                <img src="../../assets/images/WEDD/image_25.jpg" alt="Photo1">
                <p class="heading2">WEDDING</p>
            </a>

        </div>
        <div class="img">
            <a routerLink="gallery/photos/outdoor">
                <img src="../../assets/images/GETREADY/image_27.jpg" alt="Outdoor Shoot">
                <p class="heading2">GET READY</p>
            </a>

        </div>
    </div>
</div>

