.container_c{
    width: 100%;
    padding: 20px 0px;
    background-color: #FFF5E1;
}
.sec1{
    width: 70%;
    margin: auto;
    padding: 10px 25px;
    text-align: center;
  }
  .sec1 .heading{
      font-size: 20px;
      text-align: start;
  }

  .sec1 .n-text{
    padding: 25px 0;
  }
  
  .containers{
      padding: 10px 0;
  }
  .sec2{
   width: 50%;
   margin: auto;
   padding: 35px 0;
  }
  
  .container_c .backg{
    width: 100%;
    margin: auto;
    padding: 0;
    background-image:
    linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.3)),
    url('/assets/images/GETREADY/image_24.jpg');
    background-size: cover;       /* cover the entire div */
    background-position: center;  /* center the image */
    background-repeat: no-repeat; 
  }

  .form{
    padding: 10px 0;
  }
   
  .form p{
      color: white;
  }
  .form input{
    color: black;
}
  .form .field{
      display: flex;
      flex-direction: column;
      margin: 10px 0;
  } 
  
  .form .date{
      width: 30%;
  }
  .field input{
      margin: 5px 0;
      padding: 3px 10px;
      border: 1px solid rgb(164, 161, 161);
      border-radius: 6px;
      background-color: #FAF7F0;
  }
  
  .field textarea{
      margin: 5px 0;
      padding: 10px;
      border: 1px solid rgb(164, 161, 161);
      border-radius: 6px;
      background-color: #FAF7F0;
  }
  
  .btn-a{
      padding: 10px 25px;
      border-radius: 6px;
  }
  
  .btn-b{
      padding: 5px 20px;
      border-radius: 6px;
  }

  
.notify{
    position: fixed;
    top: 10px;
    left: 30%;
    width: 40%;
    text-align: center;
    margin: auto;
    padding: 20px;
    background-color: rgb(231 231 195);
    border: 3px solid black;
    height: 140px;
    border-radius: 15px;
}

@media only screen and (min-width: 200px) and (max-width:600px){
    .container_c .sec1{
        width: 90%;
        padding: 10px 10px;
    }
    .sec1 .heading2{
        font-size: 30px;
        text-align: center;
    }
  
    .sec1 .n-text{
      padding: 25px 0;
    }

    .sec2{
        width: 80%;
    }

    .form .field{
        margin: 0;
        padding: 0;
    }
    .field input{
        margin: 7px 0;
        padding: 5px 5px;
        border: 1px solid rgb(164, 161, 161);
        border-radius: 6px;
        background-color: #FAF7F0;
    }
    .form .date{
        width: 50%;
    }

      
.notify{
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
}
}