<div class="container_m">
  <div class="container_a">
    <div class="wrapper"></div>
    <div class="b_box">
      <i class="bi bi-instagram" style="font-size: 20px; padding: 20px 0"></i>
      <div class="text-box">
        {{ "follow us on instagram" | uppercase }}
      </div>
      <p class="n-text">{{ "@SJGLAMS_PHOTOGRAPH" | uppercase }}</p>
    </div>
    <div class="row_1 container-fluid">
      <div class="box1">
        <div class="img">
          <img src="../../assets/images/Insta images/image_7.jpg" alt="" />
        </div>
        <div class="img">
          <img src="../../assets/images/Insta images/image_3.jpg" alt="" />
        </div>
      </div>
      <div class="box2">
        <div class="img">
          <img src="../../assets/images/Insta images/image_5.jpg" alt="" />
        </div>
        <div class="img">
          <img src="../../assets/images/Insta images/image_6.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
